{{!-- Page to edit lidmaatschap --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit lidmaatschap')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete lidmaatschap.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new lidmaatschap" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of lidmaatschap. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
      

        <tr><td>binnenFractie</td><td align='middle'>{{edit-belongs-to relName=changeset.binnenFractie relType="fractie"}}</td></tr>
      <tr><td>lid</td><td align='middle'>{{edit-belongs-to relName=changeset.lid relType="mandataris"}}</td></tr>
      <tr><td>lidGedurende</td><td align='middle'>{{edit-belongs-to relName=changeset.lidGedurende relType="tijdsinterval"}}</td></tr>
        

    </tbody>
  </table>
</div>
{{/with}}
