{{!-- Page to edit bestuurseenheid --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit bestuurseenheid')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete bestuurseenheid.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new bestuurseenheid" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of bestuurseenheid. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
      <td>naam</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='naam' editable=true}}</td>
</tr>
      <tr>
      <td>werkingsgebied</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='werkingsgebied' editable=true}}</td>
</tr>

        <tr><td>bestuursorgaan</td><td align='middle'>{{edit-belongs-to relName=changeset.bestuursorgaan relType="bestuursorgaan"}}</td></tr>
      <tr><td>classificatie</td><td align='middle'>{{edit-belongs-to relName=changeset.classificatie relType="bestuurseenheid-classificatie-code"}}</td></tr>
        

    </tbody>
  </table>
</div>
{{/with}}
