{{!-- Page to create a new rechtsgrond --}}
<div class="new">
  <h2 class="title">{{t (humanize 'New rechtsgrond')}}</h2>

  {{!--
    Actions to save new rechtsgrond
    or delete new rechtsgrond.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new rechtsgrond" {{action 'save' model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' model}}>Cancel</button>
  </div>

  {{!-- Table to show details of rechtsgrond. --}}
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
        <td>buitenwerkingtreding</td>
<td align='middle'>{{handle-date model=model attribute='buitenwerkingtreding' editable=true}}</td>
      </tr>
      <tr>
        <td>inwekingtreding</td>
<td align='middle'>{{handle-date model=model attribute='inwekingtreding' editable=true}}</td>
      </tr>
      <tr>
        <td>{{t 'typeDocument'}}</td>
        <td align='middle'>{{edit-string-set data=model.typeDocument tagName='ul' classes='string-set'}}</td>
      </tr>
      
      
    </tbody>
  </table>
</div>
