{{!-- Page to show details of exports --}}
<div class="details">
  <h2 class="title">{{t (humanize 'export details')}}</h2>

  {{!--
    Actions to go back to the list-view or edit export
    if it's an editable application.
  --}}
  <div class="actions">
    {{#link-to "exports" class="btn back" title="Return to list" tagName='button'}}Return to the list{{/link-to}}
    
  </div>

  {{!-- Table to show details of export. --}}
  <table>
    <thead>
      <tr>
        <th>{{t "Attribute"}}</th>
        <th>{{t "Data"}}</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating row for id --}}
      <tr>
        <td class="properties__label">{{t "id"}}</td>
        {{handle-attribute model=model attribute='id' tagName='td' classes='properties__data'}}
      </tr>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
        <td>{{t 'filename'}}</td>
        {{handle-attribute model=model attribute='filename' tagName='td' classes='properties__data'}}
      </tr>
      <tr>
        <td>{{t 'format'}}</td>
        {{handle-attribute model=model attribute='format' tagName='td' classes='properties__data'}}
      </tr>
      <tr>
        <td>{{t 'filesize'}}</td>
        {{handle-attribute model=model attribute='filesize' tagName='td' classes='properties__data'}}
      </tr>
      <tr>
        <td>{{t 'created'}}</td>
        {{handle-date model=model attribute='created' tagName='td' classes='properties__data' timePicker=true}}
      </tr>


    </tbody>
  </table>
</div>
