{{!-- Page to show details of validation-errors --}}
<div class="details">
  <h2 class="title">{{t (humanize 'validation-error details')}}</h2>

  {{!--
    Actions to go back to the list-view or edit validation-error
    if it's an editable application.
  --}}
  <div class="actions">
    {{#link-to "validation-errors" class="btn back" title="Return to list" tagName='button'}}Return to the list{{/link-to}}
    {{#link-to "validation-errors.edit" model class="btn edit" title="Edit this item" tagName="button"}}Edit{{/link-to}}
  </div>

  {{!-- Table to show details of validation-error. --}}
  <table>
    <thead>
      <tr>
        <th>{{t "Attribute"}}</th>
        <th>{{t "Data"}}</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating row for id --}}
      <tr>
        <td class="properties__label">{{t "id"}}</td>
        {{handle-attribute model=model attribute='id' tagName='td' classes='properties__data'}}
      </tr>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
        <td>{{t 'message'}}</td>
        {{handle-attribute model=model attribute='message' tagName='td' classes='properties__data'}}
      </tr>
      <tr>
        <td class="properties__label">{{t 'execution'}}</td>
       {{display-model-belongsto-relationship model=model.execution itemRoute='validation-executions.show' configuredLabel='stringRep' tagName="td" classes="properties__data"}}
      </tr>
      <tr>
        <td class="properties__label">{{t 'validation'}}</td>
       {{display-model-belongsto-relationship model=model.validation itemRoute='validations.show' configuredLabel='stringRep' tagName="td" classes="properties__data"}}
      </tr>

    </tbody>
  </table>
</div>
