{{!-- Page to show details of validation-executionen --}}
<div class="details">
  <h2 class="title">{{t (humanize 'validation-execution details')}}</h2>

  {{!--
    Actions to go back to the list-view or edit validation-execution
    if it's an editable application.
  --}}
  <div class="actions">
    {{#link-to "validation-executionen" class="btn back" title="Return to list" tagName='button'}}Return to the list{{/link-to}}
    {{#link-to "validation-executionen.edit" model class="btn edit" title="Edit this item" tagName="button"}}Edit{{/link-to}}
  </div>

  {{!-- Table to show details of validation-execution. --}}
  <table>
    <thead>
      <tr>
        <th>{{t "Attribute"}}</th>
        <th>{{t "Data"}}</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating row for id --}}
      <tr>
        <td class="properties__label">{{t "id"}}</td>
        {{handle-attribute model=model attribute='id' tagName='td' classes='properties__data'}}
      </tr>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
        <td>{{t 'status'}}</td>
        {{handle-attribute model=model attribute='status' tagName='td' classes='properties__data'}}
      </tr>
      <tr>
        <td>{{t 'validationSet'}}</td>
        <td>{{display-attribute-string-set model=model attribute='validationSet' tagName='ul' innerTagName='li' classes='string-set'}}</td>
      </tr>
      <tr>
        <td>{{t 'created'}}</td>
        {{handle-date model=model attribute='created' tagName='td' classes='properties__data' timePicker=true}}
      </tr>

      <tr>
        <td class="properties__label">{{t 'errors'}}</td>
       {{display-model-hasmany-relationship   model=model.errors itemRoute='validation-erroren.show' configuredLabel='stringRep' tagName="td" classes="properties__data"}}
      </tr>
      <tr>
        <td class="properties__label">{{t 'validations'}}</td>
       {{display-model-hasmany-relationship   model=model.validations itemRoute='validationen.show' configuredLabel='stringRep' tagName="td" classes="properties__data"}}
      </tr>
    </tbody>
  </table>
</div>
