{{!-- Page to edit besluit --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit besluit')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete besluit.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new besluit" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of besluit. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
      <td>beschrijving</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='beschrijving' editable=true}}</td>
</tr>
      <tr>
      <td>citeeropschrift</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='citeeropschrift' editable=true}}</td>
</tr>
      <tr>
        <td>{{t 'motivering'}}</td>
        <td align='middle'>{{edit-language-typed-string data=model.motivering}}</td>
      </tr>
      <tr>
      <td>publicatiedatum</td>
      <td align='middle'>{{handle-date model=changeset attribute='publicatiedatum' editable=true}}</td>
</tr>
      <tr>
      <td>inhoud</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='inhoud' editable=true}}</td>
</tr>
      <tr>
      <td>taal</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='taal' editable=true}}</td>
</tr>
      <tr>
      <td>titel</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='titel' editable=true}}</td>
</tr>
      <tr>
      <td>score</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='score' editable=true}}</td>
</tr>

        <tr><td>realisatie</td><td align='middle'>{{edit-belongs-to relName=changeset.realisatie relType="rechtsgrond-besluit"}}</td></tr>
      <tr><td>volgendUitBehandelingVanAgendapunt</td><td align='middle'>{{edit-belongs-to relName=changeset.volgendUitBehandelingVanAgendapunt relType="behandeling-van-agendapunt"}}</td></tr>
      <tr><td>afgeleidUitNotule</td><td align='middle'>{{edit-belongs-to relName=changeset.afgeleidUitNotule relType="editor-document"}}</td></tr>
        

    </tbody>
  </table>
</div>
{{/with}}
