{{!-- Page to create a new bestuursorgaan-classificatie-code --}}
<div class="new">
  <h2 class="title">{{t (humanize 'New bestuursorgaan-classificatie-code')}}</h2>

  {{!--
    Actions to save new bestuursorgaan-classificatie-code
    or delete new bestuursorgaan-classificatie-code.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new bestuursorgaan-classificatie-code" {{action 'save' model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' model}}>Cancel</button>
  </div>

  {{!-- Table to show details of bestuursorgaan-classificatie-code. --}}
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
        <td>label</td>
<td align='middle'>{{handle-attribute model=model attribute='label' editable=true}}</td>
      </tr>
      <tr>
        <td>scopeNote</td>
<td align='middle'>{{handle-attribute model=model attribute='scopeNote' editable=true}}</td>
      </tr>
      
      
    </tbody>
  </table>
</div>
