{{!-- Page to show details of mandaten --}}
<div class="details">
  <h2 class="title">{{t (humanize 'mandaat details')}}</h2>

  {{!--
    Actions to go back to the list-view or edit mandaat
    if it's an editable application.
  --}}
  <div class="actions">
    {{#link-to "mandaten" class="btn back" title="Return to list" tagName='button'}}Return to the list{{/link-to}}
    {{#link-to "mandaten.edit" model class="btn edit" title="Edit this item" tagName="button"}}Edit{{/link-to}}
  </div>

  {{!-- Table to show details of mandaat. --}}
  <table>
    <thead>
      <tr>
        <th>{{t "Attribute"}}</th>
        <th>{{t "Data"}}</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating row for id --}}
      <tr>
        <td class="properties__label">{{t "id"}}</td>
        {{handle-attribute model=model attribute='id' tagName='td' classes='properties__data'}}
      </tr>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
        <td>{{t 'aantalHouders'}}</td>
        {{handle-attribute model=model attribute='aantalHouders' tagName='td' classes='properties__data'}}
      </tr>
      <tr>
        <td class="properties__label">{{t 'bestuursfunctie'}}</td>
       {{display-model-belongsto-relationship model=model.bestuursfunctie itemRoute='bestuursfunctie-codes.show' configuredLabel='stringRep' tagName="td" classes="properties__data"}}
      </tr>
      <tr>
        <td class="properties__label">{{t 'bevatIn'}}</td>
       {{display-model-belongsto-relationship model=model.bevatIn itemRoute='bestuursorganen.show' configuredLabel='stringRep' tagName="td" classes="properties__data"}}
      </tr>

    </tbody>
  </table>
</div>
