{{!-- Page to edit file --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit file')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete file.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new file" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of file. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
      <td>filename</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='filename' editable=true}}</td>
</tr>
      <tr>
      <td>format</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='format' editable=true}}</td>
</tr>
      <tr>
      <td>size</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='size' editable=true}}</td>
</tr>
      <tr>
      <td>extension</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='extension' editable=true}}</td>
</tr>
      <tr>
      <td>created</td>
      <td align='middle'>{{handle-date model=changeset attribute='created' editable=true timePicker=true}}</td>
</tr>

        <tr><td>download</td><td align='middle'>{{edit-belongs-to relName=changeset.download relType="file"}}</td></tr>
        

    </tbody>
  </table>
</div>
{{/with}}
