{{!-- Page to edit rechtsgrond-beeindiging --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit rechtsgrond-beeindiging')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete rechtsgrond-beeindiging.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new rechtsgrond-beeindiging" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of rechtsgrond-beeindiging. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
      <td>buitenwerkingtreding</td>
      <td align='middle'>{{handle-date model=changeset attribute='buitenwerkingtreding' editable=true}}</td>
</tr>
      <tr>
      <td>inwekingtreding</td>
      <td align='middle'>{{handle-date model=changeset attribute='inwekingtreding' editable=true}}</td>
</tr>
      <tr>
        <td>{{t 'typeDocument'}}</td>
        <td align='middle'>{{edit-string-set data=changeset.typeDocument tagName='ul' classes='string-set'}}</td>
      </tr>

        
        <tr><td>bekrachtigtOntslagenVan</td><td align='middle'>{{edit-has-many relName=changeset.bekrachtigtOntslagenVan relType="mandataris"}}</td></tr>

    </tbody>
  </table>
</div>
{{/with}}
