{{!-- Page to list agendapunten --}}
<div class="content">
  <h2 class="title">{{t (humanize 'agendapunten')}}</h2>
  <div class="actions">{{#link-to "agendapunten.new" class="btn new" title="Create new item" tagName="button" }}Create{{/link-to}}</div>
  {{#if model}}
    <table>
      <thead>
        <tr>
          <th class="properties__label">id</th>
          {{sortable-table-header attribute="beschrijving" currentSort=sort}}
{{sortable-table-header attribute="geplandOpenbaar" currentSort=sort}}
{{sortable-table-header attribute="heeftOntwerpbesluit" currentSort=sort}}
{{sortable-table-header attribute="titel" currentSort=sort}}
{{sortable-table-header attribute="type" currentSort=sort}}

          {{sortable-table-header attribute="vorigeAgendapunt" currentSort=sort}}
{{sortable-table-header attribute="agenda" currentSort=sort}}
          {{sortable-table-header attribute="referenties" currentSort=sort}}
        </tr>
      </thead>
      <tbody>
        {{#each model as |item|}}
          {{#link-to "agendapunten.show" item tagName='tr' }}
              <td>{{handle-attribute model=item attribute='id' classes='properties__data'}}</td>
            {{handle-attribute model=item attribute='beschrijving' tagName='td' classes='properties__data'}}
        <td>{{handle-attribute model=item attribute='geplandOpenbaar' classes='checkbox' boolean=true}}</td>
            {{handle-attribute model=item attribute='heeftOntwerpbesluit' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='titel' tagName='td' classes='properties__data'}}
            <td>{{display-attribute-string-set model=item attribute='type' tagName='ul' innerTagName='li' classes='string-set'}}</td>
            {{display-model-belongsto-relationship model=item.vorigeAgendapunt tagName='td' itemRoute='agendapunten.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.agenda tagName='td' itemRoute='agendas.show' configuredLabel='stringRep'}}
            {{display-model-hasmany-relationship   model=item.referenties tagName='td' itemRoute='agendapunten.show' configuredLabel='stringRep'}}
          {{/link-to}}
        {{/each}}
      </tbody>
    </table>

    {{#if model.meta.pagination}}
      {{pagination-component page=page numberOfItems=model.length total=model.meta.count links=model.meta.pagination}}
    {{/if}}
  {{else}}
    <div class="empty">
      No {{t (humanize 'agendapunten')}} in the database.
      Click on the <i class="fa fa-plus" aria-hidden="true"></i> button to create a new {{t (humanize "agendapunt")}}.
    </div>
  {{/if}}
</div>
