{{!-- Page to show details of agendapunten --}}
<div class="details">
  <h2 class="title">{{t (humanize 'agendapunt details')}}</h2>

  {{!--
    Actions to go back to the list-view or edit agendapunt
    if it's an editable application.
  --}}
  <div class="actions">
    {{#link-to "agendapunten" class="btn back" title="Return to list" tagName='button'}}Return to the list{{/link-to}}
    {{#link-to "agendapunten.edit" model class="btn edit" title="Edit this item" tagName="button"}}Edit{{/link-to}}
  </div>

  {{!-- Table to show details of agendapunt. --}}
  <table>
    <thead>
      <tr>
        <th>{{t "Attribute"}}</th>
        <th>{{t "Data"}}</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating row for id --}}
      <tr>
        <td class="properties__label">{{t "id"}}</td>
        {{handle-attribute model=model attribute='id' tagName='td' classes='properties__data'}}
      </tr>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
        <td>{{t 'beschrijving'}}</td>
        {{handle-attribute model=model attribute='beschrijving' tagName='td' classes='properties__data'}}
      </tr>
      <tr>
        <td>{{t 'geplandOpenbaar'}}</td>
        <td>{{handle-attribute model=model attribute='geplandOpenbaar' classes='checkbox' boolean=true}}</td>
      </tr>
      <tr>
        <td>{{t 'heeftOntwerpbesluit'}}</td>
        {{handle-attribute model=model attribute='heeftOntwerpbesluit' tagName='td' classes='properties__data'}}
      </tr>
      <tr>
        <td>{{t 'titel'}}</td>
        {{handle-attribute model=model attribute='titel' tagName='td' classes='properties__data'}}
      </tr>
      <tr>
        <td>{{t 'type'}}</td>
        <td>{{display-attribute-string-set model=model attribute='type' tagName='ul' innerTagName='li' classes='string-set'}}</td>
      </tr>
      <tr>
        <td class="properties__label">{{t 'vorigeAgendapunt'}}</td>
       {{display-model-belongsto-relationship model=model.vorigeAgendapunt itemRoute='agendapunten.show' configuredLabel='stringRep' tagName="td" classes="properties__data"}}
      </tr>
      <tr>
        <td class="properties__label">{{t 'agenda'}}</td>
       {{display-model-belongsto-relationship model=model.agenda itemRoute='agendas.show' configuredLabel='stringRep' tagName="td" classes="properties__data"}}
      </tr>
      <tr>
        <td class="properties__label">{{t 'referenties'}}</td>
       {{display-model-hasmany-relationship   model=model.referenties itemRoute='agendapunten.show' configuredLabel='stringRep' tagName="td" classes="properties__data"}}
      </tr>
    </tbody>
  </table>
</div>
