{{!-- Page to list document-statussen --}}
<div class="content">
  <h2 class="title">{{t (humanize 'document-statussen')}}</h2>
  <div class="actions">{{#link-to "document-statussen.new" class="btn new" title="Create new item" tagName="button" }}Create{{/link-to}}</div>
  {{#if model}}
    <table>
      <thead>
        <tr>
          <th class="properties__label">id</th>
          {{sortable-table-header attribute="name" currentSort=sort}}

          
          
        </tr>
      </thead>
      <tbody>
        {{#each model as |item|}}
          {{#link-to "document-statussen.show" item tagName='tr' }}
              <td>{{handle-attribute model=item attribute='id' classes='properties__data'}}</td>
            {{handle-attribute model=item attribute='name' tagName='td' classes='properties__data'}}


          {{/link-to}}
        {{/each}}
      </tbody>
    </table>

    {{#if model.meta.pagination}}
      {{pagination-component page=page numberOfItems=model.length total=model.meta.count links=model.meta.pagination}}
    {{/if}}
  {{else}}
    <div class="empty">
      No {{t (humanize 'document-statussen')}} in the database.
      Click on the <i class="fa fa-plus" aria-hidden="true"></i> button to create a new {{t (humanize "document-status")}}.
    </div>
  {{/if}}
</div>
