{{!-- Page to edit stemming --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit stemming')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete stemming.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new stemming" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of stemming. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
      <td>aantalOnthouders</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='aantalOnthouders' editable=true}}</td>
</tr>
      <tr>
      <td>aantalTegenstanders</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='aantalTegenstanders' editable=true}}</td>
</tr>
      <tr>
      <td>aantalVoorstanders</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='aantalVoorstanders' editable=true}}</td>
</tr>
      <tr>
        <td>{{t 'geheim'}}</td>
        <td>{{handle-attribute model=model attribute='geheim' classes='checkbox' editable=true boolean=true}}</td>
      </tr>
      <tr>
      <td>title</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='title' editable=true}}</td>
</tr>
      <tr>
        <td>{{t 'gevolg'}}</td>
        <td align='middle'>{{edit-language-typed-string data=model.gevolg}}</td>
      </tr>
      <tr>
        <td>{{t 'onderwerp'}}</td>
        <td align='middle'>{{edit-language-typed-string data=model.onderwerp}}</td>
      </tr>

        
        <tr><td>aanwezigen</td><td align='middle'>{{edit-has-many relName=changeset.aanwezigen relType="mandataris"}}</td></tr>
      <tr><td>onthouders</td><td align='middle'>{{edit-has-many relName=changeset.onthouders relType="mandataris"}}</td></tr>
      <tr><td>stemmers</td><td align='middle'>{{edit-has-many relName=changeset.stemmers relType="mandataris"}}</td></tr>
      <tr><td>tegenstanders</td><td align='middle'>{{edit-has-many relName=changeset.tegenstanders relType="mandataris"}}</td></tr>
      <tr><td>voorstanders</td><td align='middle'>{{edit-has-many relName=changeset.voorstanders relType="mandataris"}}</td></tr>

    </tbody>
  </table>
</div>
{{/with}}
