{{!-- Page to list inzendingen-voor-toezicht --}}
<div class="content">
  <h2 class="title">{{t (humanize 'inzendingen-voor-toezicht')}}</h2>
  <div class="actions">{{#link-to "inzendingen-voor-toezicht.new" class="btn new" title="Create new item" tagName="button" }}Create{{/link-to}}</div>
  {{#if model}}
    <table>
      <thead>
        <tr>
          <th class="properties__label">id</th>
          {{sortable-table-header attribute="created" currentSort=sort}}
{{sortable-table-header attribute="modified" currentSort=sort}}
{{sortable-table-header attribute="sentDate" currentSort=sort}}
{{sortable-table-header attribute="description" currentSort=sort}}
{{sortable-table-header attribute="remark" currentSort=sort}}
{{sortable-table-header attribute="temporalCoverage" currentSort=sort}}
{{sortable-table-header attribute="businessIdentifier" currentSort=sort}}
{{sortable-table-header attribute="businessName" currentSort=sort}}
{{sortable-table-header attribute="dateOfEntryIntoForce" currentSort=sort}}
{{sortable-table-header attribute="endDate" currentSort=sort}}
{{sortable-table-header attribute="hasExtraTaxRates" currentSort=sort}}
{{sortable-table-header attribute="agendaItemCount" currentSort=sort}}
{{sortable-table-header attribute="sessionDate" currentSort=sort}}
{{sortable-table-header attribute="title" currentSort=sort}}
{{sortable-table-header attribute="administrationType" currentSort=sort}}
{{sortable-table-header attribute="administrationName" currentSort=sort}}
{{sortable-table-header attribute="decisionDateOtherAdministration" currentSort=sort}}
{{sortable-table-header attribute="decisionSummary" currentSort=sort}}
{{sortable-table-header attribute="dateHandover" currentSort=sort}}
{{sortable-table-header attribute="text" currentSort=sort}}

          {{sortable-table-header attribute="status" currentSort=sort}}
{{sortable-table-header attribute="lastModifier" currentSort=sort}}
{{sortable-table-header attribute="bestuurseenheid" currentSort=sort}}
{{sortable-table-header attribute="formSolution" currentSort=sort}}
{{sortable-table-header attribute="inzendingType" currentSort=sort}}
{{sortable-table-header attribute="besluitType" currentSort=sort}}
{{sortable-table-header attribute="bestuursorgaan" currentSort=sort}}
{{sortable-table-header attribute="authenticityType" currentSort=sort}}
{{sortable-table-header attribute="accountAcceptanceStatus" currentSort=sort}}
{{sortable-table-header attribute="deliveryReportType" currentSort=sort}}
{{sortable-table-header attribute="fiscalPeriod" currentSort=sort}}
{{sortable-table-header attribute="nomenclature" currentSort=sort}}
{{sortable-table-header attribute="taxType" currentSort=sort}}
          {{sortable-table-header attribute="files" currentSort=sort}}
{{sortable-table-header attribute="taxRates" currentSort=sort}}
        </tr>
      </thead>
      <tbody>
        {{#each model as |item|}}
          {{#link-to "inzendingen-voor-toezicht.show" item tagName='tr' }}
              <td>{{handle-attribute model=item attribute='id' classes='properties__data'}}</td>
        {{handle-date model=item attribute='created' tagName='td' classes='properties__data' timePicker=true}}
        {{handle-date model=item attribute='modified' tagName='td' classes='properties__data' timePicker=true}}
        {{handle-date model=item attribute='sentDate' tagName='td' classes='properties__data' timePicker=true}}
            {{handle-attribute model=item attribute='description' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='remark' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='temporalCoverage' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='businessIdentifier' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='businessName' tagName='td' classes='properties__data'}}
        {{handle-date model=item attribute='dateOfEntryIntoForce' tagName='td' classes='properties__data'}}
        {{handle-date model=item attribute='endDate' tagName='td' classes='properties__data'}}
        <td>{{handle-attribute model=item attribute='hasExtraTaxRates' classes='checkbox' boolean=true}}</td>
            {{handle-attribute model=item attribute='agendaItemCount' tagName='td' classes='properties__data'}}
        {{handle-date model=item attribute='sessionDate' tagName='td' classes='properties__data' timePicker=true}}
            {{handle-attribute model=item attribute='title' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='administrationType' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='administrationName' tagName='td' classes='properties__data'}}
        {{handle-date model=item attribute='decisionDateOtherAdministration' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='decisionSummary' tagName='td' classes='properties__data'}}
        {{handle-date model=item attribute='dateHandover' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='text' tagName='td' classes='properties__data'}}
            {{display-model-belongsto-relationship model=item.status tagName='td' itemRoute='document-statuses.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.lastModifier tagName='td' itemRoute='gebruikers.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.bestuurseenheid tagName='td' itemRoute='bestuurseenheden.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.formSolution tagName='td' itemRoute='form-solutions.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.inzendingType tagName='td' itemRoute='toezicht-inzending-types.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.besluitType tagName='td' itemRoute='besluit-types.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.bestuursorgaan tagName='td' itemRoute='bestuursorganen.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.authenticityType tagName='td' itemRoute='toezicht-document-authenticity-types.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.accountAcceptanceStatus tagName='td' itemRoute='toezicht-account-acceptance-statuses.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.deliveryReportType tagName='td' itemRoute='toezicht-delivery-report-types.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.fiscalPeriod tagName='td' itemRoute='toezicht-fiscal-periods.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.nomenclature tagName='td' itemRoute='toezicht-nomenclatures.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.taxType tagName='td' itemRoute='toezicht-tax-types.show' configuredLabel='stringRep'}}
            {{display-model-hasmany-relationship   model=item.files tagName='td' itemRoute='files.show' configuredLabel='stringRep'}}
            {{display-model-hasmany-relationship   model=item.taxRates tagName='td' itemRoute='tax-rates.show' configuredLabel='stringRep'}}
          {{/link-to}}
        {{/each}}
      </tbody>
    </table>

    {{#if model.meta.pagination}}
      {{pagination-component page=page numberOfItems=model.length total=model.meta.count links=model.meta.pagination}}
    {{/if}}
  {{else}}
    <div class="empty">
      No {{t (humanize 'inzendingen-voor-toezicht')}} in the database.
      Click on the <i class="fa fa-plus" aria-hidden="true"></i> button to create a new {{t (humanize "inzending-voor-toezicht")}}.
    </div>
  {{/if}}
</div>
