{{!-- Page to edit fractie --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit fractie')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete fractie.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new fractie" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of fractie. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
      <td>naam</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='naam' editable=true}}</td>
</tr>

        <tr><td>bestuurseenheid</td><td align='middle'>{{edit-belongs-to relName=changeset.bestuurseenheid relType="bestuurseenheid"}}</td></tr>
      <tr><td>fractietype</td><td align='middle'>{{edit-belongs-to relName=changeset.fractietype relType="fractietype"}}</td></tr>
        <tr><td>bestuursorganenInTijd</td><td align='middle'>{{edit-has-many relName=changeset.bestuursorganenInTijd relType="bestuursorgaan"}}</td></tr>

    </tbody>
  </table>
</div>
{{/with}}
