{{!-- Page to list fracties --}}
<div class="content">
  <h2 class="title">{{t (humanize 'fracties')}}</h2>
  <div class="actions">{{#link-to "fracties.new" class="btn new" title="Create new item" tagName="button" }}Create{{/link-to}}</div>
  {{#if model}}
    <table>
      <thead>
        <tr>
          <th class="properties__label">id</th>
          {{sortable-table-header attribute="naam" currentSort=sort}}

          {{sortable-table-header attribute="bestuurseenheid" currentSort=sort}}
{{sortable-table-header attribute="fractietype" currentSort=sort}}
          {{sortable-table-header attribute="bestuursorganenInTijd" currentSort=sort}}
        </tr>
      </thead>
      <tbody>
        {{#each model as |item|}}
          {{#link-to "fracties.show" item tagName='tr' }}
              <td>{{handle-attribute model=item attribute='id' classes='properties__data'}}</td>
            {{handle-attribute model=item attribute='naam' tagName='td' classes='properties__data'}}
            {{display-model-belongsto-relationship model=item.bestuurseenheid tagName='td' itemRoute='bestuurseenheden.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.fractietype tagName='td' itemRoute='fractietypes.show' configuredLabel='stringRep'}}
            {{display-model-hasmany-relationship   model=item.bestuursorganenInTijd tagName='td' itemRoute='bestuursorganen.show' configuredLabel='stringRep'}}
          {{/link-to}}
        {{/each}}
      </tbody>
    </table>

    {{#if model.meta.pagination}}
      {{pagination-component page=page numberOfItems=model.length total=model.meta.count links=model.meta.pagination}}
    {{/if}}
  {{else}}
    <div class="empty">
      No {{t (humanize 'fracties')}} in the database.
      Click on the <i class="fa fa-plus" aria-hidden="true"></i> button to create a new {{t (humanize "fractie")}}.
    </div>
  {{/if}}
</div>
