{{!-- Page to show details of fracties --}}
<div class="details">
  <h2 class="title">{{t (humanize 'fractie details')}}</h2>

  {{!--
    Actions to go back to the list-view or edit fractie
    if it's an editable application.
  --}}
  <div class="actions">
    {{#link-to "fracties" class="btn back" title="Return to list" tagName='button'}}Return to the list{{/link-to}}
    {{#link-to "fracties.edit" model class="btn edit" title="Edit this item" tagName="button"}}Edit{{/link-to}}
  </div>

  {{!-- Table to show details of fractie. --}}
  <table>
    <thead>
      <tr>
        <th>{{t "Attribute"}}</th>
        <th>{{t "Data"}}</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating row for id --}}
      <tr>
        <td class="properties__label">{{t "id"}}</td>
        {{handle-attribute model=model attribute='id' tagName='td' classes='properties__data'}}
      </tr>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
        <td>{{t 'naam'}}</td>
        {{handle-attribute model=model attribute='naam' tagName='td' classes='properties__data'}}
      </tr>
      <tr>
        <td class="properties__label">{{t 'bestuurseenheid'}}</td>
       {{display-model-belongsto-relationship model=model.bestuurseenheid itemRoute='bestuurseenheden.show' configuredLabel='stringRep' tagName="td" classes="properties__data"}}
      </tr>
      <tr>
        <td class="properties__label">{{t 'fractietype'}}</td>
       {{display-model-belongsto-relationship model=model.fractietype itemRoute='fractietypes.show' configuredLabel='stringRep' tagName="td" classes="properties__data"}}
      </tr>
      <tr>
        <td class="properties__label">{{t 'bestuursorganenInTijd'}}</td>
       {{display-model-hasmany-relationship   model=model.bestuursorganenInTijd itemRoute='bestuursorganen.show' configuredLabel='stringRep' tagName="td" classes="properties__data"}}
      </tr>
    </tbody>
  </table>
</div>
