{{!-- Page to create a new artikel --}}
<div class="new">
  <h2 class="title">{{t (humanize 'New artikel')}}</h2>

  {{!--
    Actions to save new artikel
    or delete new artikel.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new artikel" {{action 'save' model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' model}}>Cancel</button>
  </div>

  {{!-- Table to show details of artikel. --}}
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
        <td>nummer</td>
<td align='middle'>{{handle-attribute model=model attribute='nummer' editable=true}}</td>
      </tr>
      <tr>
        <td>inhoud</td>
<td align='middle'>{{handle-attribute model=model attribute='inhoud' editable=true}}</td>
      </tr>
      <tr>
        <td>taal</td>
<td align='middle'>{{handle-attribute model=model attribute='taal' editable=true}}</td>
      </tr>
      <tr>
        <td>titel</td>
<td align='middle'>{{handle-attribute model=model attribute='titel' editable=true}}</td>
      </tr>
      <tr>
        <td>page</td>
<td align='middle'>{{handle-attribute model=model attribute='page' editable=true}}</td>
      </tr>
      <tr>
        <td>score</td>
<td align='middle'>{{handle-attribute model=model attribute='score' editable=true}}</td>
      </tr>
      <tr><td>realisatie</td><td align='middle'>{{edit-belongs-to relName=model.realisatie relType="rechtsgrond-artikel"}}</td></tr>
      
    </tbody>
  </table>
</div>
