{{!-- Page to edit tijdsinterval --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit tijdsinterval')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete tijdsinterval.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new tijdsinterval" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of tijdsinterval. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
      <td>begin</td>
      <td align='middle'>{{handle-date model=changeset attribute='begin' editable=true timePicker=true}}</td>
</tr>
      <tr>
      <td>einde</td>
      <td align='middle'>{{handle-date model=changeset attribute='einde' editable=true timePicker=true}}</td>
</tr>

        
        

    </tbody>
  </table>
</div>
{{/with}}
