{{!-- Page to list tijdsintervallen --}}
<div class="content">
  <h2 class="title">{{t (humanize 'tijdsintervallen')}}</h2>
  <div class="actions">{{#link-to "tijdsintervallen.new" class="btn new" title="Create new item" tagName="button" }}Create{{/link-to}}</div>
  {{#if model}}
    <table>
      <thead>
        <tr>
          <th class="properties__label">id</th>
          {{sortable-table-header attribute="begin" currentSort=sort}}
{{sortable-table-header attribute="einde" currentSort=sort}}

          
          
        </tr>
      </thead>
      <tbody>
        {{#each model as |item|}}
          {{#link-to "tijdsintervallen.show" item tagName='tr' }}
              <td>{{handle-attribute model=item attribute='id' classes='properties__data'}}</td>
        {{handle-date model=item attribute='begin' tagName='td' classes='properties__data' timePicker=true}}
        {{handle-date model=item attribute='einde' tagName='td' classes='properties__data' timePicker=true}}


          {{/link-to}}
        {{/each}}
      </tbody>
    </table>

    {{#if model.meta.pagination}}
      {{pagination-component page=page numberOfItems=model.length total=model.meta.count links=model.meta.pagination}}
    {{/if}}
  {{else}}
    <div class="empty">
      No {{t (humanize 'tijdsintervallen')}} in the database.
      Click on the <i class="fa fa-plus" aria-hidden="true"></i> button to create a new {{t (humanize "tijdsinterval")}}.
    </div>
  {{/if}}
</div>
