{{!-- Page to edit positie --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit positie')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete positie.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new positie" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of positie. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
      

        <tr><td>rol</td><td align='middle'>{{edit-belongs-to relName=changeset.rol relType="rol"}}</td></tr>
      <tr><td>isPositieIn</td><td align='middle'>{{edit-belongs-to relName=changeset.isPositieIn relType="organisatie"}}</td></tr>
        <tr><td>wordtIngevuldDoor</td><td align='middle'>{{edit-has-many relName=changeset.wordtIngevuldDoor relType="persoon"}}</td></tr>

    </tbody>
  </table>
</div>
{{/with}}
