{{!-- Page to list dynamic-subformen --}}
<div class="content">
  <h2 class="title">{{t (humanize 'dynamic-subformen')}}</h2>
  <div class="actions">{{#link-to "dynamic-subformen.new" class="btn new" title="Create new item" tagName="button" }}Create{{/link-to}}</div>
  {{#if model}}
    <table>
      <thead>
        <tr>
          <th class="properties__label">id</th>
          {{sortable-table-header attribute="key" currentSort=sort}}
{{sortable-table-header attribute="matchKind" currentSort=sort}}
{{sortable-table-header attribute="value" currentSort=sort}}

          {{sortable-table-header attribute="formNode" currentSort=sort}}
          
        </tr>
      </thead>
      <tbody>
        {{#each model as |item|}}
          {{#link-to "dynamic-subformen.show" item tagName='tr' }}
              <td>{{handle-attribute model=item attribute='id' classes='properties__data'}}</td>
            {{handle-attribute model=item attribute='key' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='matchKind' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='value' tagName='td' classes='properties__data'}}
            {{display-model-belongsto-relationship model=item.formNode tagName='td' itemRoute='form-nodes.show' configuredLabel='stringRep'}}

          {{/link-to}}
        {{/each}}
      </tbody>
    </table>

    {{#if model.meta.pagination}}
      {{pagination-component page=page numberOfItems=model.length total=model.meta.count links=model.meta.pagination}}
    {{/if}}
  {{else}}
    <div class="empty">
      No {{t (humanize 'dynamic-subformen')}} in the database.
      Click on the <i class="fa fa-plus" aria-hidden="true"></i> button to create a new {{t (humanize "dynamic-subform")}}.
    </div>
  {{/if}}
</div>
